// BỎ BORDER
.btn {
    // border: none;
    // Vẫn giữ vì còn btn-outline-...
    // border-color các nút gần giống với background-color nên cũng không sao
}

// Bỏ border ở bảng
// .table-bordered
.table-borderless {
    th,
    td {
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-top: 1px solid $gray-700;
    }

    th {
        border-top: none;
    }
}

// Bỏ border ở phân trang
.page-link {
    border: none;
}

.page-item .page-link {
    border-radius: 0.25rem;
}

// Bỏ border ở form-control, sử dụng background để phân biệt
.form-control,
.form-select,
.input-group-text {
    border: none;
}


// Bỏ border ở trên modal
.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}
