// .dark-theme {
html {
    background-color: $gray-800; // fullscreen
}

body {
    background-color: $gray-800 !important;
    color: $gray-500;

    .form-control,
    .custom-select,
    .form-control:focus,
    .form-control:disabled,
    .form-control[readonly],
    .input-group-text,
    .custom-control-label::after {
        // Màu nền đậm hơn vì ở sâu hơn
        // Màu nền đậm hơn thì chữ phải sáng hơn
        background-color: $gray-900;
        color: $gray-300;
        // border: 1px solid transparent;
    }

    textarea.form-control {
        // Hiệu ứng về độ sâu
        // box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%);
    }

    .form-control {
        // Hiệu ứng về độ sâu
        // box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%);
    }

    // Highlight khi focus
    .form-control:focus {
        // border: 1px solid rgba($primary, 0.5);
    }

    .modal-content {
        background-color: $gray-800;
    }

    .dropdown-menu {
        background-color: $gray-700;
        border: none;
    }

    .dropdown-item {
        color: $gray-100;
    }

    th,
    .modal-title,
    .panel-header {
        // color: $warning;
        color: $gray-600; // đậm hơn hơn body
    }

    // Common validation
    .required::after {
        color: $warning;
    }

    .close {
        color: $gray-500; // giống màu body
        text-shadow: none;
    }

    .tag-input {
        background-color: $gray-700;

        .tag-new {
            background-color: $gray-700;
        }
    }

    .autocomplete__dropdown {
        background-color: $gray-800;        
    }

    // Phân trang của Bootstrap
    .page-link {
        background-color: transparent;
        color: $primary;
    }
}

.page-item.disabled .page-link {
    background-color: transparent;
}

.text-body {
    color: $gray-500 !important; // giống màu của body
}

.bg-dark {
    background-color: $gray-900 !important;
}

// Thư viện noti
.confirm-dialog {
    background-color: $gray-700 !important;
}

.confirm-message {
    color: $gray-100;
}

.table {
    color: $gray-500; // giống màu của body
}
