// .dark-theme {
html {
    background-color: $gray-800; // fullscreen, giống màu body
}

body {
    background-color: $gray-800 !important;
    color: $gray-400;

    .form-control,
    .form-select,
    .form-control:focus,
    .form-control:disabled,
    .form-control[readonly],
    .input-group-text,
    .custom-control-label::after {
        // Màu nền đậm hơn vì ở sâu hơn
        // Màu chữ giống body
        background-color: $gray-900;
        color: $gray-400;
    }

    textarea.form-control {
        // Hiệu ứng về độ sâu
        // box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%);
    }

    .form-control {
        // Hiệu ứng về độ sâu
        // box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%);
    }

    // Highlight khi focus
    .form-control:focus {
        // border: 1px solid rgba($primary, 0.5);
    }

    .modal-content {
        background-color: $gray-800; // giống màu body
    }

    .dropdown-menu {
        background-color: $gray-700; // ở cao hơn body nên sáng hơn
        border: none;
    }

    .dropdown-item {
        color: $gray-100; // sáng hơn body
    }

    th,
    .modal-title,
    .panel-header {
        // color: $warning;
        // color: $gray-600; // tối hơn hơn body, không nổi bật, giống text-muted
    }

    // Common validation
    .required::after {
        color: $warning;
    }

    .close {
        color: $gray-400; // giống màu body
        text-shadow: none;
    }

    .autocomplete__dropdown {
        background-color: $gray-800; // giống màu body
    }

    // Phân trang của Bootstrap
    .page-link {
        background-color: transparent;
        color: $primary;
    }
}

.page-item.disabled .page-link {
    background-color: transparent;
}

.text-body {
    color: $gray-400 !important; // giống màu của body
}

.bg-dark {
    background-color: $gray-900 !important;
}

// Thư viện noti
.confirm-dialog {
    background-color: $gray-700 !important; // cao hơn body nên sáng hơn
}

.confirm-message {
    color: $gray-100; // sáng hơn body
}

.table {
    color: $gray-400; // giống màu của body
}
